# Flutter & Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
generated_plugin_registrant.dart

# IDEs
.idea/
.vscode/
*.iml

# Platform-specific
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/.symlinks/
ios/Pods/
macos/
linux/
windows/
web/

# Misc
.metadata
*.log
*.tmp
*.swp
*.DS_Store

